body {
  background-color: #232323;
  font-family: calibri;
}

h1 {
  color: #DDD;
  font-size: 16pt;
  margin: 0;
}

hr {
  border: .25px solid #666;
  margin: 0 0 .6em;
}

p {
  color: #DDD;
  line-height: 65%;
  margin: 0;
}

#mainContainer {
  border: 1px solid #CCC;
  min-height: 5em;
  max-width: 17em;
  padding: .9em;
}
