<!-- October 17th, 2018 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="stylish.css" />
  </head>
  <body>
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="number">000</div>
          <h1 id="header">Template Page</h1>
          <h2>October 17th, 2018</h2>
          <hr>
          <p id="content">There is no way this is going to look as nice at a different resolution. Absolute positioning is a terrible habit and I still decided to use it for some reason.</p>
          <p>End my suffering.</p>
            
          <script>
            
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
